NEXT_PUBLIC_SUPABASE_URL=https://dvjprjyzyjekefsiujrq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2anByanl6eWpla2Vmc2l1anJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4OTM5NTAsImV4cCI6MjA5OTQ2OTk1MH0.v0xjRwV_egEJMGwZZtmZ6PymxuTVGd2tKwamspZXwes
